* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  
 html, body{
      scroll-behavior: smooth;
      /* height:100vh; */
      display: grid;
      place-items:center;
      grid-gap: 3rem;
    }
  
    h1 {
      color: rgb(0, 0, 0);
      font-size: 85px;
      margin: 65px;
    }
    
    /* Rotate Gallery */
    .gallery{
      position: relative;
      width:300px;
      height:200px;
      transform-style:preserve-3d;
      animation:rotate 35s linear infinite;
    }
    
    @keyframes rotate{
      from{
        transform:perspective(1200px) rotateY(0deg);
      }
      
      to{
        transform:perspective(1200px) rotateY(360deg);
      }
    }
    
    .gallery span{
      position:absolute;
      width:100%;
      height:100%;
      transform-origin:center;
      transform-style:preserve-3d;
      transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
    }
    
    .gallery span img{
      position:absolute;
      width:100%;
      height:100%;
      object-fit:cover;
    }
  
  p {
    font-size: 20px;
    line-height: 1.6;
  }
  
  
  section {
    grid-gap:  1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .cards {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }
   
  .cards img { 
    width: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header-cards{
    font-size: 35px;
    justify-content: center;
  }
  
  section .cards {
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    padding: 1em;
    margin: 2em;
    text-align: center;
  }
  
  /* Social Media Code */
  .container-social-media {
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    
  }
  
  .media-links{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 80px;
  }
  
  /* Font Awesome Code */
  .fa-solid{
    color: white;
    padding: 5px;
  }
  
  .fa-brands {
    font-size: 35px;
    color: white;
  }
  
  .fa-brands:hover{
    color: white;
  }
  
  
  /* Footer */
  footer {
    color: white;
  }